asn1crypto==1.5.1
asttokens==2.4.1
colorama==0.4.6
# comm==0.2.2 - This package does not exist in PyPI, you might want to remove it or correct it if it's a typo.
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
executing==2.0.1
fonttools==4.51.0
greenlet==3.0.3
# install==1.3.5 - This package does not exist in PyPI, you might want to remove it or correct it if it's a typo.
ipykernel==6.29.4
ipython  # Removed the version pinning to let pip find a compatible version
jedi==0.19.1
jupyter_client==8.6.1
jupyter_core==5.7.2
kiwisolver==1.4.5
matplotlib  # Removed the version pinning to let pip find a compatible version
matplotlib-inline==0.1.6
nest-asyncio==1.6.0
numpy  # Removed the version pinning to let pip find a compatible version
packaging==24.0
pandas  # Removed the version pinning to let pip find a compatible version
parso==0.8.4
pg8000==1.31.1
pillow  # Removed the version pinning to let pip find a compatible version
platformdirs==4.2.0
prompt-toolkit==3.0.43
psutil==5.9.8
psycopg2-binary==2.9.9
pure-eval==0.2.2
Pygments==2.17.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
# pywin32==306 - This is for Windows, not needed in Airflow Docker which is Linux-based
pyzmq==25.1.2
scramp==1.4.5
seaborn==0.13.2
six==1.16.0
SQLAlchemy>=1.4.28,<2.0
stack-data==0.6.3
tornado==6.4
traitlets==5.14.2
typing_extensions==4.11.0
tzdata==2024.1
wcwidth==0.2.13
